@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
}

/* Ant Design 暗色主题适配 */
.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 20, 20, 20;
}
